body {
    font-family: 'Roboto Mono', monospace;
    color: #00FFFF;
    background-color: #121212;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.title {
    text-align: center;
}

.clock-box {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__time {
        width: 300px;
        font-size: 82px;
        position: relative;

        &-second {
            font-size: 18px;
            position: absolute;
            right: -27px;
            bottom: 20px;
        }

    }

    &__date {
        width: 300px;
        position: relative;
        text-align: center;
        margin-top: -70px;
        display: flex;
        justify-content: space-between;

        &-left {
            text-transform: uppercase;
        }
        
        &-weekday {
            text-transform: uppercase;
            position: absolute;
            right: 0px;
            bottom: 17px;
        }
    }

}